<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515707400693-09o16r4nvsi9hnr5ujvalh13s7ua70sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515707400693-09o16r4nvsi9hnr5ujvalh13s7ua70sr</string>
	<key>API_KEY</key>
	<string>AIzaSyBqDpfbSvc1uLO8pxuacrAZheX5FyTicjk</string>
	<key>GCM_SENDER_ID</key>
	<string>515707400693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nocodeui.adminpanel01</string>
	<key>PROJECT_ID</key>
	<string>jobs-b3e54</string>
	<key>STORAGE_BUCKET</key>
	<string>jobs-b3e54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515707400693:ios:87e74855ab265bda8c30bc</string>
</dict>
</plist>